{% extends 'base.html.twig' %}
{% form_theme form 'tailwind_2_layout.html.twig' %}

{% block body  %}
	<div class="w-full flex justify-center  mt-28 text-center">

		{{ form_start(form ,{'attr':{ 'class': 'w-1/2' }})  }}
		<div class="formscontact rounded-xl shadow-xl">
			<div class="my-custom-class-for-errors">
				{{ form_errors(form) }}
			</div>

<h1 class="text-4xl pt-6">Contact</h1>
			<div class=" mb-2 pt-11 pr-11 pl-11">

				{{ form_label(form.objet, "Mon libellé a été modifié") }}
				{{ form_widget(form.objet,{'attr':{ 'class': ' border border-slate-800 text-black h-16 w-full rounded-xl' }}) }}
				{{ form_errors(form.objet,{'attr':{ 'class': 'text-yellow-600' }}) }}
			</div>

			<div class="  mb-2 pt-11 pr-11 pl-11">
				{{ form_row(form.email ,{'attr':{ 'class': ' border border-slate-800 text-black h-16 w-full rounded-xl' }}) }}
				{{ form_errors(form.email) }}

			</div>
			<div class="  mb-2 pt-11 pr-11 pl-11">
				{{ form_row(form.message ,{'attr':{ 'class': ' border border-slate-800 text-black w-full  rounded-xl', 'rows': '4'  }}) }}
			</div>
			<div>
				{{form_widget(form.save,{'attr':{ 'class': 'text-xl pb-4 '}})}}
			</div>
		</div>
		{{ form_end(form) }}
	</div>
{% endblock %}
