{% extends 'base.html.twig' %}

{% block title %}Hello
	{{ controller_name }}!
{% endblock %}

{% block body %}
	<div>
		<h1 class="text-5xl text-center mt-4 font-bold text-pink-700 mt-8 mb-8"></h1>
	</div>
	<div class="flex justify-center">
		<div class="grid md:grid-cols-3 gap-14 sm:grid-cols-1 w-3/4 ">
			{% for plat in plats %}
				<div class="flex flex-col shadow-lg shadow-black">
					<div class="relative">
						<img class="w-full h-56 imgcategories rounded-t-lg" src="{{ asset('assets/images_the_district/food/') }}{{ plat.image }}" alt="{{ plat.libelle }}">
					</div>

					<div class="flex font-bold text-xl text-black justify-center p-2 overflow-hidden  couleur">{{ plat.libelle }}</div>
					<hr class="border border-black">
					<div class="text-center   couleur   flex-grow ">{{ plat.description }}
						<br>
						Prix:
						{{plat.prix }}€</div>
						<hr class="border border-black">
						<div cla>
						<a href="/add/{{plat.id}}" class="  text-black px-4 py-2  btn  font-bold  flex justify-center items-center couleur transition-all hover:bg-green-400 duration-300">Ajouter Au Panier</a>

					</div>
				</div>

			{% endfor %}
		</div>
	</div>
{% endblock %}
